//palet colori
$primary-color : black;
$secondary-color : rgb(87, 87, 87);
//palet colori font
$font-color: dark;
$headings-color: white;
//stile background 
$components-background-img: url("./pics/components-img.jpg");
//spaziatura
$main-padding: 1rem;
