@use"variables";
@use"layout";

.air-conditions {
    @include layout.rounded;
    @include layout.air-conditions;
    grid-row: 4 / 5 ;
    grid-column: 2 / 3;
    position: relative;
    overflow: hidden;
    &::before {
    content: "";
    @include layout.blurred;
    position: absolute;
    top: -20px; left: -20px;   
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    z-index: 0;
}
    > * {
        position: relative;
        z-index: 1;
    }
}